@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
header {
	margin: 0;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}
  .non-nav, .container{
/* 	color: #000000;*/
  background-size: cover;
	background: #FFF8DC; 
	font-family: 'Work Sans', sans-serif;
   width: auto; */
   margin: auto 10px; */
/*    height: 2000px;  */
}  

.footer{
  background-color: #C0C0C0;
  font-family: 'Work Sans', sans-serif;
}


.IMO{
/*   position: relative;
  top: 10px; */
}


.educbar{
  margin-bottom: 50px;
}

.educ, .work, .proj, .interests, .contact{
  padding-top: 115px;
}

/* .e, .w, .p, .i, .c, .nav{
  margin-top: -40px;
  margin-left: 30px;
}
 */
 #menu{
  position: absolute;
  top: -40px;
  margin-left: 100px;
} 


#fph{
  font-family: "Courier New";
}

.container {
	width: 80%;
	margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.contact{
  padding-bottom: 250px;
}


.logo {
  display: inline-block;
  float: left;
  padding: 10px 0;
  margin-left: -50px;
  color: #928d8d;
  margin-top: -30px;
  margin-left: 10px;
}

nav {
  height: 50px;
  width: 100%;
  float: right;
  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 0 100x;
  #height: 100px;
  text-align: center;
}

nav ul li{
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
  height: 100px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #928d8d;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
/*   margin-left: 30px;
  margin-bottom: -100px; */
}

.non-nav{
  padding-top: 50px;
  margin-left: 40px;
  
}


.courses, .orgs{
  list-style-type: circle;
}

section{
  padding-top: 50px;
  margin-bottom: 0px;
	background-color: #C0C0C0;
  background-size: cover;
  width: 100%;
}
.cp{
  margin-left: 30px;
  margin-top: -30px;
  font-weight: 900;
  color: #696969;
}
.lo, .lt, .lr, .lf, .li, .ls, .lv{
	color: #928d8d;	
}

.bot, .maze, .site, .os, .game{
  text-align: left;
}

html, body {
    margin:0;
    padding:0;
}
h1 {
    margin:0;
}
