body {
  padding-top: 196px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.courses, .orgs {
  list-style-image: url('https://abeon-hosting.com/images/clipart-bullet-points-7.jpg');
}

*{
  font-family: Arial;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 180px;
  background-color: #00a087;
}
